img{
  max-width: 100%;
  height: auto;
}
.imagen{
  width: 50%;
  height: 400px;
  background-image: url("../imagenes/panda2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}
.gradiente{
  width: 700px;
  height: 700px;
  background: linear-gradient(to bottom right, rgba(47, 152, 168, .1), rgba(6, 37, 211, 1));
  margin-left: auto;
  margin-right: auto;
}
